.TriagemDashboard > div{
    border: 2px solid lightgray;
    background-color: white;
    padding: 1em;
    color: black;
  }

  .TriagemDashboard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: 91px;
  }

  .triagemDashboardPendencias{
    grid-column: 1;
    grid-row: 1/5;
    border-radius: 12px;
  }

  .triagemDashboardSLA{
    grid-column: 2;
    grid-row: 1/5;
    border-radius: 12px;
  }

  .triagemDashboardCriticidade{
    grid-column: 3;
    grid-row: 1/5;
    border-radius: 12px;
  }

  .triagemDashboardAderenciaNormativos{
    grid-column: 1;
    grid-row: 5/10;
    border-radius: 12px;
  }

  .triagemDashboardAderenciaEstado{
    grid-column: 2;
    grid-row: 5/10;
    border-radius: 12px;
  }

  .triagemDashboardStatus{
    grid-column: 3;
    grid-row: 5/10;
    border-radius: 12px;
  }

  .conteinerGraficoSLAArea{
    width: 600px;
    margin-top: 15px;
  }

  .conteinerGraficoPendenciasArea{
    width: 500px;
    margin-top: -95px;
    margin-left: 50px;
  }

  .conteinerGraficoAderenciaNorm{
    width: 524px;
    margin-top: 96px;

  }

  .conteinerGrafCritTema img{
    width: 500px;
    margin-top: 38px;
    margin-left: 28px;
  }

  #graficoMapaCalor{
    height: 410px;
  }

  .conteinerTabelaCalor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 97px;
    margin-left: 72px;
  }
  
  #heatmap {
    border-collapse: collapse;
    margin-left: 50px;
  }
  
  #heatmap td {
    width: 90px;
    height: 30px;
    border: 2px solid white;
    text-align: center;
    font-size: 1.1em;
    font-weight: bolder;
  }
  
  #colorSwapping {
    width: 300px;
    margin-top: 20px;
    z-index: 2;
    margin-left: 55px;
  }
  
  /* Adicionado uma classe para células destacadas */
  .highlighted {
    background-color: #ddd !important; /* Cinza claro para células não correspondentes */
  }

  .color-bar{
    width: 15%;
    height: 20px;
    background: linear-gradient(to right, #00FF00, #33FF00, #66FF00, #99FF00, #CCFF00, #FFFF00, #FFCC00, #FF9900, #FF6600, #FF3300, #FF0000 );
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    border-radius: 10px;
    position: absolute;
    top: 390px;
    left: 1528px;
  }

  .barraPreta{
    width: 15%;
    height: 20px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    border-radius: 10px;
    position: absolute;
    top: 390px;
    left: 1506px;
  }

  .tituloCimaTabelaCalor{
    position: absolute;
    top: 152px;
    left: 1602px;
  }

  .tituloLadoTabelaCalor{
    position: absolute;
    top: 281px;
    left: 1283px;
    transform: rotate(-90deg);
  }

  .legendasDeCimaTbCalor{
    display: flex;
    position: absolute;
    top: 190px;
    left: 1446px;
    gap: 37px;
  }

  .legendasDoLadoTbCalor{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 221px;
    left: 1338px;
    align-items: end;
  }

  #graficoPlanoAcao{
    width: 100%;
    height: 410px;
  }
