.atendimentoHistorico > div{
    border: 2px solid lightgray;
    background-color: white;
    padding: 1em;
    color: black;
}

.atendimentoHistorico{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2;
    gap: 10px;
}

.atendimentoHistoricoBusca{
    border: 1px solid #dcdcdc;
    border-radius: 12px;
}

.atendimentoHistoricoAtendimento{
    border-radius: 12px;
}

.Parametros_linha{
    display: flex;
    margin: 2% 0%;
}

.Parametros_linha > p{
    font-size: large;
    font-weight: bold; 
    margin: 0% 1%;
}

.data-range{
    margin: 0% 0.5%;
} 


.atendimentoHistoricoBusca > button {
    /* Cor de fundo */
    background-color: #304c7c;
    
    /* Cor do texto (opcional, ajuste conforme necessário) */
    color: #ffffff;
    
    /* Outras propriedades de estilo, como margem, preenchimento, etc. */
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 2px 2px 2px #888888;
}

/* Adicional: Estilo ao passar o mouse sobre o botão */
.atendimentoHistoricoBusca > button:hover {
    background-color: #1e3557;
}

#id{
    margin-left: 5.7%;
    
}

#select-categoria{
    margin-left: 1.6%;
}

#select-responsavel{
    margin-left: 3.5%;
}

#select-Tema {
    margin-left: 2.5%;
}

#retorno{
    margin-left: 1.4%;
}

#select-status{
    margin-left: 2.2%;
}

.Parametros_linha > select {
    /* Cor da borda */
    border: 1px solid #dcdcdc;
  
    /* Cor de fundo */
    background-color: #ffffff;
  
    /* Cor do texto */
    color: #000000;
  
    /* Outras propriedades de estilo, como margem, preenchimento, etc. */
    padding: 8px;
    border-radius: 4px;
}
  

.Parametros_linha > select::-ms-expand {
    display: none;
}

.Parametros_linha > select:hover {
    /* Altere conforme necessário */
    border-color: #a0a0a0;
}


.Parametros_linha > select:focus {
    /* Altere conforme necessário */
    outline: none;
    border-color: #5c5c5c;
    box-shadow: 0 0 5px rgba(220, 220, 220, 0.8);
}

.Parametros_linha > input {
    border: 1px solid #dcdcdc;
    border-radius: 4px;
}

/* Tabela */

.tabela > table > thead > tr > th {
    background-color: #687ca4;
    color: white;
    border: 1px solid #ddd;
    text-align: center;
    margin: 5px;
    padding: 20px;

}

.tab_parecer> table > thead > tr > th {
    padding: 7px;
}

.tabela > table > tbody > tr  > td {
    margin: 12px;
}

.tabela > table {
    border-collapse: separate;
    border-spacing: 10px; /* Altere o valor conforme necessário */
}

.tabela th:nth-child(1), .tabela td:nth-child(1) {
    width: 4%;
  }

  .tabela th:nth-child(2), .tabela td:nth-child(2) {
    width: 8%;
  }

  .tabela th:nth-child(3), .tabela td:nth-child(3) {
    width: 12%;
  }

  .tabela th:nth-child(4), .tabela td:nth-child(4) {
    width: 9%;
  }

  .tabela th:nth-child(5), .tabela td:nth-child(5) {
    width: 13%;
  }

  .tabela th:nth-child(6), .tabela td:nth-child(6) {
    width: 13%;
  }

#celula-abrir {
    background-color: #c0bcbc;

}

/* From Captura */

.botaoAbrirPesquisa{
    display: flex;
    background-color: #BFBFBF;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    padding: 4px 10px 4px 10px;
    width: 100px;
    justify-content: space-around;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.botaoAbrirPesquisa > img{
    width: 20px;
}

.botaoAbrirPesquisaCentralizar{
    display: flex;
    width: 100%;
    justify-content: center;
}

/* ----------Tabelas 8 Colunas ------------------- */

.tableFixHeadAtendimentoDash8Col {
    overflow-y: auto; 
    height: 89%;
  }
  
  .tableFixHeadAtendimentoDash8Col thead th {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    position: sticky; 
    top: 0px;
    padding: 0.5rem 0.5rem;
  }
  
  .tableAtendimentoDash8Col {
    width:100%;
    border-spacing: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
  }
  
  
  
  .tableAtendimentoDash8Col td{
    padding: 0.6rem 0.5rem;
  }
  
  .tableAtendimentoDash8Col th:nth-child(1), .tableAtendimentoDash8Col td:nth-child(1) {
    width: 7%;
  }
  
  .tableAtendimentoDash8Col th:nth-child(2), .tableAtendimentoDash8Col td:nth-child(2) {
    width: 5%;
  }
  
  .tableAtendimentoDash8Col th:nth-child(3), .tableAtendimentoDash8Col td:nth-child(3) {
    width: 12%;
  }
  .tableAtendimentoDash8Col th:nth-child(4), .tableAtendimentoDash8Col td:nth-child(4) {
    width: 8%;
  }
  .tableAtendimentoDash8Col th:nth-child(5), .tableAtendimentoDash8Col td:nth-child(5) {
    width: 13%;
  }
  
  .tableAtendimentoDash8Col th:nth-child(6), .tableAtendimentoDash8Col td:nth-child(6) {
    width: 5%;
  }
  .tableAtendimentoDash8Col th:nth-child(7), .tableAtendimentoDash8Col td:nth-child(7) {
    width: 5%;
  }

  .tableAtendimentoDash8Col th:nth-child(8), .tableAtendimentoDash8Col td:nth-child(8) {
    width: 5%;
  }

  .tableAtendimentoDash8Col th, .tableAtendimentoDash8Col td {
    border: 1px solid lightgray;
    border-spacing: 30px;
  }
  
  
  .tableAtendimentoDash8Col th {
    background-color: #647ca4;
    color: white;
    font-size: 12px;
    font-weight: bold;
  
  }