.botaoAbrirVisualizacao{
    display: flex;
    background-color: #BFBFBF;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    padding: 4px 10px 4px 10px;
    width: 100px;
    justify-content: space-around;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }

  .botaoAbrirVisualizacao > img{
    width: 20px;
  }
.botaoAbrirVisualizacao2{
    display: flex;
    background-color: #BFBFBF;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    padding: 4px 10px 4px 10px;
    width: 100px;
    justify-content: space-around;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }

  .botaoAbrirVisualizacao2 > img{
    width: 20px;
  }

  .botaoAbrirPesquisaCentralizar{
    display: flex;
    justify-content: center;
  }

  .botaoAbrirVisualizacaoCentralizar{
    display: flex;
    justify-content: center;
  }

  .hiddenParecer{
    display: none;
  }

  .showParecer{
    display: fixed;
  }

  .hiddenValidacao{
    display: none;
  }

  .showValidacao{
    display: fixed;
  }



.AtendimentoParecerAreaConteudo > div{
    border: 2px solid lightgray;
    background-color: white;
    padding: 1em;
    color: black;
}

.AtendimentoParecerAreaConteudo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: 104px;
}

.AtendimentoParecerAreaConteudoPreTriagem{
    grid-column: 1;
    grid-row: 1/4;
    border-radius: 12px;
}
.AtendimentoParecerAreaConteudoParecer{
    grid-column: 2;
    grid-row: 1/4;
    border-radius: 12px;
}
.AtendimentoParecerAreaConteudoPlano{
    grid-column: 3/5;
    grid-row: 1/4;
    border-radius: 12px;
}
.AtendimentoParecerAreaConteudoResumo{
    grid-column: 1/3;
    grid-row: 4/9;
    border-radius: 12px;
}
.AtendimentoParecerAreaConteudoResposta{
    grid-column: 3/5;
    grid-row: 4/9;
    border-radius: 12px;
}

.AtendimentoParecerAreaConteudo3 > div{
    border: 2px solid lightgray;
    background-color: white;
    padding: 1em;
    color: black;
}

.AtendimentoParecerAreaConteudo3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: 104px;
}

.AtendimentoParecerAreaConteudoPreTriagem3{
    grid-column: 1/3;
    grid-row: 1/4;
    border-radius: 12px;
}
.AtendimentoParecerAreaConteudoParecer3{
    grid-column: 1/3;
    grid-row: 4/9;
    border-radius: 12px;
}
.AtendimentoParecerAreaConteudoPlano3{
    grid-column: 3/5;
    grid-row: 1/9;
    border-radius: 12px;
}

.AtendimentoParecerAreaConteudo2 > div{
    border: 2px solid lightgray;
    background-color: white;
    padding: 1em;
    color: black;
}

.AtendimentoParecerAreaConteudo2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: 104px;
}

.AtendimentoParecerAreaConteudoPreTriagem2{
    grid-column: 1;
    grid-row: 1/4;
    border-radius: 12px;
}
.AtendimentoParecerAreaConteudoParecer2{
    grid-column: 2;
    grid-row: 1/4;
    border-radius: 12px;
}
.AtendimentoParecerAreaConteudoPlano2{
    grid-column: 3/5;
    grid-row: 1/4;
    border-radius: 12px;
}
.AtendimentoParecerAreaConteudoResumo2{
    grid-column: 1/3;
    grid-row: 4/9;
    border-radius: 12px;
}
.AtendimentoParecerAreaConteudoResposta2{
    grid-column: 3/5;
    grid-row: 4/9;
    border-radius: 12px;
}

.pesquisaAtendimentoLabel1{
    position: fixed;
    top: 135px;
}
.pesquisaAtendimentoLabel2{
    position: fixed;
    top: 180px;
}
.pesquisaAtendimentoLabel3{
    position: fixed;
    top: 225px;
}
.pesquisaAtendimentoLabel4{
    position: fixed;
    top: 270px;
}
.pesquisaAtendimentoLabel5{
    position: fixed;
    top: 315px;
}

.pesquisaAtendimentoInput1{
    position: fixed;
    left: 150px;
    top: 130px;
    height: 35px;
    border: 1px lightgray solid;
}
.pesquisaAtendimentoInput2{
    position: fixed;
    top: 175px;
    left: 150px;
    height: 35px;
    border: 1px lightgray solid;
}
.pesquisaAtendimentoInput3{
    position: fixed;
    top: 220px;
    left: 150px;
    height: 35px;
    border: 1px lightgray solid;
}
.pesquisaAtendimentoInput4{
    position: fixed;
    top: 265px;
    left: 150px;
    height: 35px;
    border: 1px lightgray solid;
}
.pesquisaAtendimentoInput5{
    position: fixed;
    top: 310px;
    left: 150px;
    height: 35px;
    border: 1px lightgray solid;
}

.pesquisaAtendimentoLabel6{
    position: fixed;
    top: 135px;
}
.pesquisaAtendimentoLabel7{
    position: fixed;
    top: 180px;
}
.pesquisaAtendimentoLabel8{
    position: fixed;
    top: 225px;
}
.pesquisaAtendimentoLabel9{
    position: fixed;
    top: 270px;
    left: 505px;
}

.pesquisaAtendimentoInput6{
    position: fixed;
    left: 700px;
    top: 130px;
    height: 35px;
    border: 1px lightgray solid;
    
}
.pesquisaAtendimentoInput7{
    position: fixed;
    position: fixed;
    top: 175px;
    left: 700px;
    height: 35px;
    border: 1px lightgray solid;
    
}

.pesquisaAtendimentoInput8{
    position: fixed;
    top: 220px;
    left: 700px;
    height: 35px;
    width: 170px;
    border: 1px lightgray solid;

}

.pesquisaAtendimentoInput9{
    position: fixed;
    position: fixed;
    top: 265px;
    left: 700px;
    height: 35px;
    border: 1px lightgray solid;
    
}

.pesquisaAtendimentoLabel10{
    position: fixed;
    top: 135px;
}
.pesquisaAtendimentoLabel11{
    position: fixed;
    top: 180px;
}
.pesquisaAtendimentoLabel12{
    position: fixed;
    top: 225px;
}

.pesquisaAtendimentoInput10{
    position: fixed;
    left: 1120px;
    top: 130px;
    height: 35px;
    width: 300px;
    border: 1px lightgray solid;
}
.pesquisaAtendimentoInput11{
    position: fixed;
    top: 175px;
    left: 1120px;
    height: 35px;
    width: 300px;
    border: 1px lightgray solid;
}
.pesquisaAtendimentoInput12{
    position: fixed;
    top: 220px;
    left: 1120px;
    height: 35px;
    width: 300px;
    border: 1px lightgray solid;
}
.pesquisaAtendimentoInput13{
    position: fixed;
    top: 130px;
    left: 1450px;
    height: 200px;
    width: 440px;
    border: 1px lightgray solid;
}

.botaoAqruivo{
    position: fixed;
    top: 280px;
    left: 1180px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13.3px;
    padding: 0.3rem 0.5rem;
    width: 100px;
    height: 40px;
    background-color: #2c4c7c;
    border: solid 1px #2c4c7c;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
     
}

.fonteConteudo{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    margin: 5px;
}

.botaoCancelar{
    position: fixed;
    top: 890px;
    left: 1330px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16.6px;
    padding: 0.3rem 0.5rem;
    width: 130px;
    height: 50px;
    background-color: #2c4c7c;
    border: solid 1px #2c4c7c;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
     
}

#yourBtn {
    position: absolute;
    top: 890px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 210px;
    height: 50px;
    padding: 10px;
    background-color: #2c4c7c;
    border: solid 1px #2c4c7c;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }

.botaoUploadEvidencia{
    position: fixed;
    top: 890px;
    left: 1470px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16.6px;
    padding: 0.3rem 0.5rem;
    width: 210px;
    height: 50px;
    background-color: #2c4c7c;
    border: solid 1px #2c4c7c;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
     
}
.botaoReprovar{
    position: fixed;
    top: 890px;
    left: 1470px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16.6px;
    padding: 0.3rem 0.5rem;
    width: 210px;
    height: 50px;
    background-color: #2c4c7c;
    border: solid 1px #2c4c7c;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
     
}
.DownloadEvidencia{
    position: fixed;
    top: 890px;
    left: 980px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16.6px;
    padding: 0.3rem 0.5rem;
    width: 210px;
    height: 50px;
    background-color: #2c4c7c;
    border: solid 1px #2c4c7c;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
     
}
.botaoSalvarEnviar{
    position: fixed;
    top: 890px;
    left: 1690px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16.6px;
    padding: 0.3rem 0.5rem;
    width: 210px;
    height: 50px;
    background-color: #2c4c7c;
    border: solid 1px #2c4c7c;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
     
}
.botaoAprovar{
    position: fixed;
    top: 890px;
    left: 1690px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16.6px;
    padding: 0.3rem 0.5rem;
    width: 210px;
    height: 50px;
    background-color: #2c4c7c;
    border: solid 1px #2c4c7c;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
     
}
.pesquisaAtendimentoInput14{
    position: fixed;
    top: 470px;
    left: 985px;
    height: 350px;
    width: 905px;
    border: 1px lightgray solid;
    
}
.pesquisaAtendimentoInput15{
    position: fixed;
    top: 825px;
    left: 985px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16.6px;
    padding: 0.3rem 0.5rem;
    width: auto;
    height: 50px;
    background-color: #2c4c7c;
    border: solid 1px #2c4c7c;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
}

.infosConteudoResumoParecerAtend{
    overflow-y: auto;
    height: 470px;
    padding-right: 10px;
}

.infosConteudoResumoParecerAtend .topicos{
    border: 1px solid lightgray;
    padding: 10px;
    font-size: 1.1em;
    margin-top: 10px;
}

.blocoArquivo{
    display: flex;
    border: 1px solid lightgray;
    margin-top: 10px;
    align-items: center;
    gap: 1%;
    width: 290px;
    padding: 5px;
}

.blocoArquivo img{
    width: 50px;
    height: 50px;
}

.infosDoArquivo img{
    width: 30px;
    height: 30px;
}

.blocoArquivo .infosDoArquivo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15%;
}

.blocoArquivo .infosDoArquivo div{
    display: flex;
    flex-direction: column;
}

.BlocoPalavrasChavesId{
    display: flex;
    flex-direction: column;
    font-size: 1.1em;
    margin-top: 20px;
    margin-left: 20px;
}

.BlocoPalavrasChavesId div{
    display: flex;
    align-items: center;
    gap: 2%;
    margin-bottom: 10px;
}

.BlocoPalavrasChavesId{
    font-weight: bold;
}

.BlocoPalavrasChavesId textarea{
    resize: none;
    font-size: 1.1em;
    border: 1px solid lightgray;
}

.BlocoPalavrasChavesId-Id textarea{
    height: 40px;
    width: 150px;
    padding: 5px 2px 2px 5px;
    margin-left: 109px;
}

.BlocoPalavrasChavesId-PalChav textarea{
    height: 100px;
    width: 650px;
    padding: 5px 2px 2px 5px;
}

.conteinerBlocoRespostaArea {
    overflow-y: auto;
    height: 736px;
}

.blocoRespostaArea{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.blocoRespostaArea *{
    font-size: 20px;
}

.blocoRespostaArea > div{
    margin-bottom: 10px;
}

.blocoRespostaArea label{
    font-weight: bold;
}

.blocoRespostaArea textarea{
    resize: none;
}

.blocoRespostaArea .blocoID{
    display: flex;
    align-items: center;
}

.blocoRespostaArea .blocoID input{
    margin-left: 120px;
    padding: 5px;
    width: 80px;
}

.blocoRespostaArea .blocoID button{
    width: 37px;
    height: 37px;
    margin-left: 595px;
    background-color: #2c4c7c;
    border: #2c4c7c solid 1px;
    border-radius: 7px;
}

.blocoRespostaArea .blocoID button img{
    margin-top: 4px;
}

.blocoRespostaArea .blocoStatus select{
    padding: 5px;
    margin-left: 74px;
    width: 200px;
}

.blocoRespostaArea .blocoParecer{
    display: flex;
}

.blocoRespostaArea .blocoParecer textarea{
    padding: 5px;
    margin-left: 67px;
    width: 736px;
    height: 150px;
}

.blocoRespostaArea .blocoRespostaParteBaixo{
    display: flex;
}

.blocoRespostaArea .blocoRespostaParteBaixo .parteLeft > div{
    margin-bottom: 10px;
}

.blocoRespostaArea .blocoRespostaParteBaixo .parteLeft .blocoPlano select{
    padding: 5px;
    width: 200px;
}

.blocoRespostaArea .blocoRespostaParteBaixo .parteLeft .blocoDataInicio input{
    padding: 5px;
    width: 200px;
    margin-left: 36px;
}

.blocoRespostaArea .blocoRespostaParteBaixo .parteLeft .blocoDataFim input{
    padding: 5px;
    width: 200px;
    margin-left: 52px   ;
}

.blocoRespostaArea .blocoRespostaParteBaixo textarea{
    height: 134px;
    margin-left: 12px;
    width: 512px;
    padding: 5px;
}

.blocoRespostaArea{
    margin-bottom: 40px;
}

.botaoParecerAreaAtendimento{
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    background-color: #2c4c7c;
    border: #2c4c7c 1px solid;
    border-radius: 10px;
}

.botaoParecerAreaAtendimento p{
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.botaoParecerAreaAtendimento img{
    width: 20px;
    height: 20px;
}

.botoesParecerArea{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-left: 550px;
}

.botaoSalvar img{
    width: 30px;
    height: 30px;
}

.botaoDownloadConteudoAtendParecer{
    left: 885px;
    top: 405px;
}